#header {
    display: flex;
    width: 100%;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: white;
}

#header>div {
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    gap: 1em;
}

#header>a{
    margin-left: 5px;
    border-radius: 3px;

    background-color: lightgray;
    padding: 3px;

    text-decoration: none;
    color: black;
}

#header>a:hover{
    background-color: gray;
    color: white;
}

#header p {
   margin: 0px; 
}

textarea {
    field-sizing: content;
    min-width: 15em;
}

input{
    margin-bottom: 5px;
}

body, html{
    margin: 0px;
    padding: 0px;
}